/* 3_Publications */
/* 设置主内容区样式 */
.main-content {
    display: flex; /* 使用 Flex 布局 */
    flex-grow: 1; /* 占据剩余空间 */
    justify-content: center; /* 子元素水平居中 */
    align-items: center; /* 子元素垂直居中 */
    text-align: center; /* 文本居中对齐 */
    background-color: white; /* 设置背景颜色 */
    padding: 20px; /* 设置内边距 */
}

/* 设置容器样式 */
.container {
    display: none; /* 默认隐藏容器 */
    flex-grow: 1; /* 占据剩余空间 */
    width: 100%; /* 设置宽度为100% */
}

.container.active {
    display: block; /* 显示活动容器 */
}

/* 设置出版物标题样式 */
.publications-header {
    text-align: center; /* 文本居中对齐 */
    margin-bottom: 20px; /* 设置底部外边距 */
}

/* 设置筛选器栏样式 */
.filter-bar {
    display: flex; /* 使用 Flex 布局 */
    justify-content: left; /* 子元素左对齐 */
    align-items: center; /* 子元素垂直居中 */
    margin-top: 10px; /* 设置顶部外边距 */
}

/* 设置出版物列表样式 */
.publication-list {
    text-align: left; /* 文本左对齐 */
}

/* 设置出版物项样式 */
.publication-item {
    margin-bottom: 20px; /* 设置底部外边距 */
}

/* 设置出版物项的段落样式 */
.publication-item p {
    margin: 0; /* 移除段落默认的外边距 */
}

/* 设置出版物链接悬停样式 */
.publication-item a:hover {
    text-decoration: underline; /* 鼠标悬停时显示下划线 */
}

/* 设置通用文本样式 */
.text{
    width: 100%; /* 宽度为 100% */
    max-width: 800px; /* 设置最大宽度 */
    padding: 0 20px; /* 设置左右内边距 */
    background-color: white; /* 设置背景颜色为白色，方便区分 */
    box-sizing: border-box; /* 包括内边距和边框在宽度和高度内 */
}

/* 定义容器样式 */
.box {
    display: flex; /* 使用Flexbox布局 */
    flex-direction: column; /* 设置为水平方向排列 */
    justify-content: flex-start; /* 设置子元素靠左排列 */
    gap: 10px; /* 子元素之间的间距 */
    padding: 20px;
}

/* 定义盒子的基本样式 */
.subbox {
    background-color: white; /* 设置背景颜色为白色 */
    flex: 1 1 calc(25% - 20px); /* 设置盒子的自适应宽度，减去间距 */
    height: 100px; /* 设置高度为100像素 */
    display: flex; /* 使用Flexbox布局使内容居中 */
    justify-content: center; /* 水平居中内容 */
    align-items: center; /* 垂直居中内容 */
    box-sizing: border-box; /* 包括内边距和边框在宽度和高度内 */
}

/* 响应式设计：屏幕宽度小于1200px时的样式 */
@media (max-width: 1200px) {
    .box {
        flex: 1 1 calc(33.33% - 20px); /* 设置盒子的宽度为1/3 */
    }
}

/* 响应式设计：屏幕宽度小于768px时的样式 */
@media (max-width: 768px) {
    .box {
        flex: 1 1 calc(50% - 20px); /* 设置盒子的宽度为1/2 */
    }
}

/* 响应式设计：屏幕宽度小于480px时的样式 */
@media (max-width: 480px) {
    .box {
        flex: 1 1 calc(100% - 20px); /* 设置盒子的宽度为100% */
    }
}