body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
}
nav {
    background-color: #444;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav button {
    background-color: #444;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}
nav button:hover {
    background-color: #666;
}
.main-content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
    display: none;
    flex-grow: 1;
}
.container.active {
    display: block;
}
.self-intro {
    background-color: white;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin-left: auto; /* 靠右显示 */
}
.self-intro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.self-intro h2, .self-intro p {
    text-align: left; /* 文本左对齐 */
    margin: 0; /* 清除默认的间距 */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
}